[nix]
channel = "stable-24_05"
packages = [
  "glib",
  "gtk3",
  "xorg.libX11",
  "xorg.libXcomposite",
  "xorg.libXdamage",
  "xorg.libXext",
  "xorg.libXfixes",
  "xorg.libXrandr",
  "xorg.libxcb",
  "dbus",
  "atk",
  "at-spi2-atk",
  "cups",
  "expat",
  "fontconfig",
  "freetype",
  "gdk-pixbuf",
  "nspr",
  "nss",
  "pango",
  "cairo",
  "libxkbcommon",
  "mesa",
  "libGL",
  "alsa-lib"       # <--- ini libasound
]

[agent]
integrations = ["javascript_mem_db==1.0.0"]
